<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="<%= url 'ctrl.css' %>" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <audio id="target" src="<%= @filehost + @current_url %>"></audio>

        <img id="logo" src="logo-off.png"></img>

        <div class="buttonbox">
            <button onClick="postCtrl('play');" id="playButton">Play</button> 
            <button onClick="postCtrl('pause');" id="pauseButton">Pause</button> 
        </div>

        <div class="inputs">
            <label for="play">Play</label>
            <select id="play">
                <% @list.each do |k,v| %>
                    <option value="<%= k %>"><%= k %></option>
                <% end %>
            </select>
        </div>  

        <div class="inputs">
            <label for="title">Title</label>
            <input id="title" value="<%= @title %>"></input>
        </div>

        <div class="inputs">
            <label for="desc">Description</label>
            <textarea id="desc"><%= @description %></textarea>
        </div>

        <div class="buttonbox">
            <button onClick="postData();" id="goButton">Update</button>
        </div>

        <div class="count">
            <%= @strcount %> Connections
        </div>

        <script type="text/javascript">
            function postData() {
                $.post(' <%= url 'post' %>', { play: $('#play').val(), title: $('#title').val(), desc: $('#desc').val() });
            }

            function postCtrl(x) {
                $.post(' <%= url 'post' %>', {ctrl: x});
            }

            function play() {
                $('#target')[0].play();
                $('#logo').attr('src', "<%= url 'logo-on.png' %>");
            }

            function pause() {
                $('#target')[0].pause();
                $('#logo').attr('src', "<%= url 'logo-off.png' %>");
            }

            var es = new EventSource('<%= url 'stream' %>');
            es.onmessage = function(e) {
                dx = JSON.parse(e.data);
                if(dx.ctrl) {
                    switch(dx.ctrl) {
                        case 'play':
                            play();
                            break;
                        case 'pause':
                            pause();
                            break;
                    }
                }else{
                pause();
                $("#target").attr('src', "<%= @filehost %>" + dx.play);
                }
            }

</script>
  </body>
</html>
