<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= @title %> - EchoChamber</title>

        <link href="<%= url 'app.css' %>" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
            <audio id="target" preload="auto" src="<%= @filehost + @current_url %>"></audio>

            <img src="<%= url 'logo-off.png' %>" id="logo"></img>

            <div id="spinner">LOADING!</div>
            <h1 id="title"><%= @title %></h1>
                <div id="description">
                    <%= @description %>
                </div>
                <script>
                    var debugEvent;
            function play() {
                $('#target')[0].play();
                $('#logo').attr('src', "<%= url 'logo-on.png' %>");
                console.info("Playing");
            }

            function pause() {
                $('#target')[0].pause();
                $('#logo').attr('src', "<%= url 'logo-off.png' %>");
                console.info("Pausing");
            }

            var es = new EventSource('<%= url 'stream' %>');
            es.onmessage = function(e) {
                dx = JSON.parse(e.data);
                console.debug(dx);
                console.log($('#target')[0].currentTime);
                if(dx.ctrl) {
                    switch(dx.ctrl) {
                        case 'play':
                            play();
                            break;
                        case 'pause':
                            pause();
                            break;
                        case 'heartbeat':
                            break;
                        case 'jump':
                            $('#target')[0].currentTime = dx.jump;
                            break;
                    }
                    }else{
                    startLoad();
                pause();
                $("#target").attr('src', "<%= @filehost.chomp %>" + dx.play);
                $('#title').html(dx.title)
                $('title').html(dx.title + " - EchoChamber")
                $('#description').html(dx.desc)
                }
            }

            es.onerror = function(e) {
                alert("EventSource failed.  Please notify the in-charge-y people.");
                $('#description').html("<pre>" + e + "</pre>");
                debugEvent = e;
            };

            function finishLoad() {
                $('#spinner').hide();
            }

            function startLoad() {
                $("#spinner").show();
            }

            $("#target")[0].addEventListener('canplaythrough', finishLoad, false);
        </script>
    </body>
</html>
