<div class="buttonbox">
	<h4>Upload sounds</h4>

	<%= form_for(Sound.new) do |f| %>
		<div class="field">
			<%= f.file_field :data %>
		</div>
		<%= f.hidden_field :room_id, value: @room.id %>

		<div class="actions">
			<%= f.submit nil, class: "submit_format"%>
		</div>
	<% end %>
</div>

<div class="buttonbox">
	<h4>Sound file list</h4>
	<%= collection_select(:last_sound_id, :sound, @sounds, :id, :data_file_name ) %>
</div>
<br>
<%= link_to 'Destroy Room', @room, method: :delete, data: { confirm: 'Are you sure?' }, class:"submit_format"  %>
