<%= javascript_include_tag "teacher" %>

<div class="buttonbox">
	<h4>Upload sounds</h4>

	<%= form_for(Sound.new) do |f| %>
		<div class="field">
			<%= f.file_field :data %>
		</div>
		<%= f.hidden_field :room_id, value: @room.id %>

		<div class="actions">
			<%= f.submit "Upload Sound", class: "submit_format"%>
		</div>
	<% end %>
</div>
<div class="buttonbox">
	<h4>Edit room settings</h4>

	<%= form_for(@room, remote: true) do |f| %>
		<div>
			<%= f.label :last_sound_id, "Select sound" %>
			<%= f.collection_select(:last_sound_id, @sounds, :id, :data_file_name, { selected: @room.last_sound_id }) %>
		</div>

		<div>
			<%= f.label :name, "Room name" %>
			<%= f.text_field :name %>
		</div>

		<div>
			<%= f.label :comment, "Other information" %>
			<%= f.text_area :comment %>
		</div>

		<p><%= f.submit nil, class: "submit_format" %></p>
	<% end %>
</div>

<div class="buttonbox">
	<h4>Play sounds</h4>

	<p id="playingnotice">Currently playing <%= @room.last_sound ? @room.last_sound.data_file_name : "nothing" %>.</p>
	<p><button onclick="play('<%= image_path "logo-on" %>')">Play</button><button onclick="pause('<%= image_path "logo-off" %>')">Pause</button></p>

	<% if @sounds.count != 0 && @room.last_sound != nil %>
		<%= link_to @room do %>
			<%= link_to "Delete Audio File", @room.last_sound, method: :delete, data: { confirm: "Are you sure?" }, class: "submit_format" %>
		<% end %>
	<% end %>

	<% if @room.last_sound %>
		<%= audio_tag @room.last_sound.data.url, id: "jukebox" %>
	<% else %>
		<audio id="jukebox"></audio>
	<% end %>
</div>

<p><%= link_to "Destroy Room", @room, method: :delete, data: { confirm: "Are you sure?" }, class: "submit_format" %></p>
