<p id="notice"><%= notice %></p>

<%= image_tag "logo", size: "150x150" %>

<h1>Rooms</h1>

<% @rooms.each do |room| %>
	<p>
		<%= link_to room do %>
			<button><%= room.name %></button>
		<% end %>
	</p>
<% end %>
<% if current_admin %>
	<%= link_to new_room_path do %>
		<button>New Room</button>
	<% end %>
<% end %>
