// Every time something is published to the channel, this method is run.
subscriptionHandle = function (data) {
	if (data.play == true) {
		document.getElementById("jukebox").play();
		$("#logo").attr("src", "<%= image_path "logo-on" %>");
	}
	if (data.pause == true) {
		document.getElementById("jukebox").pause();
		$("#logo").attr("src", "<%= image_path "logo-off" %>");
	}
	// Switches the current playing audio.
	if (data.switch) {
		$("#jukebox").attr("src", data.switch);
	}
	// Switches the room name.
	if (data.name) {
		$("#roomname").html("Room " + data.name);
	}
	// Switches the room comment.
	if (data.comment) {
		$("#student").html("<p>" + data.comment + "</p>");
	}
};

if ("<%= @password %>" == "<%= @room.password %>") {
	$("#student").html("<p><%= @room.comment %></p>");

	// Subscribe to the Faye channel.
	var client = new Faye.Client("http://localhost:3000/faye");
	var subscription = client.subscribe("/echochamber/<%= @room.id %>", subscriptionHandle);
} else {
	$("#student p").html("Incorrect password!").css("color", "red");
	setTimeout(function () {
		$("#student p").html("Password").css("color", "white");
	}, 1500);
}
