<%= link_to root_path, data: { no_turbolink: true } do %>
	<%= image_tag "logo-off", id: "logo" %>
<% end %>
<h1 id="roomname">Room <%= @room.name %></h1>

<% if current_teacher || current_admin %>
	<%= render "teacher" %>
<% else %>
	<%= render "student" %>
<% end %>
